.myContent{
    padding: 35px;
    margin: auto;
    box-sizing: border-box;
}

.passCont{
    background: #fff;
    padding: 16px;
    border-radius: 7px;
}

@media (max-width:767px) {
    .myContent{padding: 35px!important;}
}