:root {
    --black:#46484D;
    --main :#0a99ff;
    --color:#333;
    --lightColor:#afaaaa;
}

body{
    box-sizing: border-box;
    margin: 0;
    color: var(--color);
    font-family: inherit;
}

@font-face {
    font-family: poppinsMed;
    src: url(../../public/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppinsLight;
    src: url(../../public/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsBold;
    src: url(../../public/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppinsReg;
    src: url(../../public/fonts/Poppins-Regular.ttf);
}

.dashboardLayout{
    display: flex;
    justify-content: space-between;
}

.dashboardLayout > div:first-child{
    min-height: 94vh;
    width: 16%;
    /* background: #eee; */
    padding-left: 35px;
}

.dashboardLayout > div:last-child{
    min-height: 100px;
    width: 84%;
    /* padding: 25px; */
    background: #eee;
}

div.phoneInpute{
    width: 100%;
    padding: 9px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 0;
}

.PhoneInputInput{
    width: inherit!important;
    margin-top: 0!important;
    border: none!important;
    font-family: inherit!important;
    font-weight: 500!important;
}

.PhoneInputInput:focus-visible{
    outline: none!important;
}

.errMes{
    border-color: #d32f2f!important;
}

.errMes .PhoneInputInput{
    color: #d32f2f!important;

}


/* Ant Designe */
.ant-table-cell{font-family: poppinsReg;}
.ant-table-thead .ant-table-cell{font-family: poppinsBold;}
:where(.css-dev-only-do-not-override-1k979oh).ant-table-wrapper .ant-table-thead > tr > th, :where(.css-dev-only-do-not-override-1k979oh).ant-table-wrapper .ant-table-thead > tr > td {
	color: #fff;
	font-weight: 600;
	background: var(--main);

}

/* Status Table */

.spnStatus{
    display: block;
    padding: 7px 10px;
    border-radius: 43px;
    text-align: center;
    font-family: poppinsMed;
    font-size: 12px;
    width: max-content;
}

.COMPLETE{
    background: rgb(255, 237, 251);
    color: rgb(213, 8, 163);
}

.CANCELED{
    background: #ccc;
    color: #fff;
}

.DENIED{
    background: #fff0f0;
    color: #f02727;
}

.PENDING{
    background: #fff8ec;
    color: orange;
}

.PAID{
    background: #e7ffe7;
    color: green;
}

.stc1{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.stc1 > span{
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  border-radius: 6px;
  outline: 1px solid #eee;
  cursor: pointer;
}