.homeComp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s all;
    box-sizing: border-box;
    position: relative;
}

.rightImage{
    width: 70%;
    background: url(../../../public/Images/loginbak.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    transition: 0.5s all;
}

.content{
    width: 30%;
    background: #fff;
    min-height: 100vh;
    transition: 0.5s all;
    padding: 35px 70px;
    box-sizing: border-box;
    position: relative;
}

.active .rightImage{width: 50%!important;}
.active .content{width: 50%!important;}


@media(max-width:767px){
    .homeComp{flex-wrap: wrap;}
    .content{width: 100%;}
    .rightImage{width: 100%;display: none;}
    .active .rightImage{width: 100%!important;display: none;}
    .active .content{width: 100%!important;}
}

