.register{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .item label{
    display: block;
} */

.item{
    width: 45%;
    box-sizing: border-box;
    margin-bottom: 25px;
}

/* .item label{
    display: block;
    font-weight: 200;
    font-size: 12px;
    color: #333;
} */

/* .item input{
    width: 100%;
    margin-top: 3px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
} */

.title{
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goLogin{
    color: var(--main);
    font-weight: 200;
    cursor: pointer;
}

.title p{
    font-size: 12px;
    font-weight: 200;
    margin: 0;
    margin-top: 0px;
    margin-top: 7px;
    color: #7d7d7d;
    letter-spacing: 0px;
    padding-left: 3px;
}

.title h2{
    font-weight: 500;
    margin: 0;
    letter-spacing: 1px;
    font-size: 40px;
}

.myTextArea{
    width: 100%;
    outline: 1px solid #cbcbcb;
    border-radius: 3px;
    padding: 10px;
    font-family: roboto;
    font-weight: 400;
    color: #777;
    border: none;
    min-height: 100px;
}

.w97{
    width: 97%!important;
}

.errMessage{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 4px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
    color: #d32f2f;
}

.footerBotton > button:last-child{
    margin-left: 15px;
}