.allCont h3{
    font-weight: 400;
}

.myContent{
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.contItems{
    width: 100%;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}


.item {
    width: 45%;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.last{
    margin-bottom: 0!important;
}

.contLicence{
    width: 100%;
}

.licenceImage{
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

.licenceImage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.alerting{
    width: 100%;
    margin-bottom: 10px;
}

.hl1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;
}

.hl1 h3{
    margin: 0;
}

.left{
    width: 70%;
    background: #fff;
    border-radius: 10px;
}

.right{
    width: 27%;
}


.footerBotton{
    margin-top: 15px;
}

.alrt{
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width:767px) {
    .myContent{flex-wrap: wrap;padding: 15px!important;}
    .left{width: 100%!important;}
    .right{width: 100%!important;}
    .item{width: 100%!important;}
    .last{margin-bottom: 30px!important;}
}