.langChang{
    position: absolute;
  bottom: 19px;
  left: 50%;
  transform: translateX(-50%);
}

.selecting{
    position: absolute;
    bottom: 19px;
    left: 50%;
    transform: translateX(-50%);
}

.contImage{
    display: flex;
    align-items: center;
}

/* .contImage span{
    margin-left: 5px;
    font-size: 12px;
} */

.customSel{
    width: max-content;
    margin: auto;
      margin-top: auto;
    margin-top: auto;
    margin-top: 40px;
    background: white;
    padding: 5px 8px;
      padding-bottom: 5px;
    border: 1px solid #eee;
    border-radius: 3px;
    /* position: fixed; */
    padding-bottom: 12px;
    /* bottom: 20px; */
    /* left: 13%; */
}

.customSel .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.customSel .head svg{
    margin-left: 8px;
    color: #989898;
    font-size: 12px;
}

.contentSel{
    margin-top: 10px;
}

.dnone{
    display: none;
}

.item{
    cursor: pointer;
}